body {
	background: #FFF;
	font-size: 50px;
	font-family: helvetica;
}

#message {
	
}

#output {
	display: none;
}

#box {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 200px;
	height: 200px;
	background: black;
	display: block;
}